global
  log 127.0.0.1 local0
  maxconn 4000
  daemon
  uid 99
  gid 99

defaults
  log     global
  timeout server 10s
  timeout connect 10s
  timeout client 10s

frontend localhost
    bind *:80
    bind *:443
    option tcplog
    mode tcp
    default_backend nodes
    stats enable
	stats hide-version
	stats refresh 5s
	stats show-node
	stats uri /haproxy?stats
    redirect scheme https if !{ ssl_fc }
    tcp-request inspect-delay 5s
    tcp-request content accept if { req_ssl_hello_type 1 }

backend nodes
    mode tcp
    balance roundrobin
    option ssl-hello-chk
    server s1 web1:8443 check
    server s2 web2:8443 check