{{>header}}
{{>navbar}}
<div class="col-6">
    <div class="mx-auto  mt-5">
        <div class="container rounded border p-4">
            <h1 class="text-white text-center" style="font-family: Impact;">{{forumentry.title}} </h1>
            <ul class="list-group">
                {{#comments}}
                <li class="list-group-item " style="margin-left: 0px;">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{comment.author}}</h5>
                        <small>{{comment.date}}</small>
                    </div>
                    <p class="mb-1">{{comment.text}}</p>
                    <button class="button">Reply</button>
                </li>
                {{!comments}}
            </ul>


        </div>

    </div>
</div>

{{>latestposts}}
</div>


<!-- Optional JavaScript; keep it at last-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
<!-- <script src="js\bootstrap.min.js"></script>-->


{{>footer}}