{{>header}}
{{>navbar}}
<div class="col-6">
    <div class="mx-auto  mt-5">
        <div class="container rounded border p-4">
            <h1 class="text-white text-center" style="font-family: Impact;">{{game.description.name}} </h1>
            <h2 class="text-white text-center" style="font-family: Impact;">{{forumentry.title}} </h2>
            
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 text-white">{{forumentry.author.name}}</h5>
                <small class="text-white">{{forumentry.createdOn}}</small>
                <div>
                    <a href="/list/forumentries/add/forumentry/{{forumentry.id}}">
                        <button class="btn btn-secondary btn-block" type="button">Follow</button>
                    </a>
                    <button class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#collapseAddListFE">Add to
                        List</button>
                    <div class="collapse" id="collapseAddListFE">
                        <ul>
                            {{#customcommentlist}}
                            <li class="mt-2">
                                <a href="/list/add/forumentry/{{id}}/{{forumentry.id}}">
                                    <button class="btn btn-secondary btn-block" type="button">{{name}}</button>
                                </a>
                            </li>
                            {{/customcommentlist}}
                        </ul>
                    </div>
                </div>
            </div>
            <p class="mb-1 bg-light mt-1">{{forumentry.content.text}}</p>
            <!-- <button class="button"
                onclick="window.location.href='/reply/{{game.id}}/{{forumentry.id}}/{{forumentry.id}}';">Reply</button> -->
            <button class="btn btn-secondary btn-sm" data-bs-toggle="collapse"
                href="#collapseReply{{forumentry.id}}">Reply</button>
            <div class="collapse" id="collapseReply{{forumentry.id}}">
                <div class="input-group row">
                    <form class="form-text row mx-auto" method="POST"
                        action="/game/{{game.id}}/{{forumentry.id}}/{{forumentry.id}}/reply">
                        <textarea class="form-control" aria-label="Reply: " name="contentText"></textarea>
                        <button class="btn btn-secondary" type="submit">Post</button>
                    </form>
                </div>
            </div>
            
            <ul class="list-group mt-4">
                {{#comments}}
                <li class="list-group-item " style="margin-left: 0px;">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{author.name}}</h5>
                        <small>{{postedOn}}</small>
                    </div>
                    <p class="mb-1">{{content.text}}</p>
                    <!-- <button class="button"
                        onclick="window.location.href='/reply/{{game.id}}/{{forumentry.id}}/{{commentid}}';">Reply</button> -->
                    <button class="btn btn-secondary btn-sm" data-bs-toggle="collapse"
                        href="#collapseReply{{commentid}}">Reply</button>
                    <div class="collapse" id="collapseReply{{commentid}}">
                        <div class="input-group row">
                            <form class="form-text row mx-auto mb-1 mt-1" method="POST"
                                action="/game/{{game.id}}/{{forumentry.id}}/{{commentid}}/reply">
                                <textarea class="form-control " aria-label="Reply: " name="contentText"></textarea>
                                <button class="btn btn-secondary" type="submit">Post</button>
                            </form>
                        </div>
                    </div>
                    <a href="/list/comments/add/comment/{{forumentry.id}}/{{commentid}}">
                        <button class="btn btn-secondary btn-block" type="button">Follow</button>
                    </a>
                    <button class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#collapseAddList{{commentid}}">Add to
                        List</button>
                    <div class="collapse" id="collapseAddList{{commentid}}">
                        <ul>
                            {{#customcommentlist}}
                            <li class="mt-2">
                                <a href="/list/add/comment/{{id}}/{{forumEntry.id}}/{{commentid}}" >
                                    <button class="btn btn-secondary btn-block" type="button">{{name}}</button>
                                </a>
                            </li>
                            {{/customcommentlist}}
                        </ul>
                    </div>           
                </li>
            {{/comments}}
            </ul>
        </div>
    </div>
</div>

{{>latestposts}}
</div>
<script>
     Context.prototype.lookup = function (name) {
    var cache = this.cache;

    var value;
    if (name in cache) {
      console.log(name + ' found');
      value = cache[name];
    } else {
      var context = this, names, index;

      while (context) {
        if (name.indexOf('.') > 0) {
          value = context.view;
          names = name.split('.');
          index = 0;

          while (value != null && index < names.length)
            value = value[names[index++]];
        } else if(name.match(/^\.\.\//)) {
          name = name.replace(/^\.\.\//, '');
        } else {
          value = context.view[name];
        }

        if (value != null)
          break;

        context = context.parent;
      }

      cache[name] = value;
    }

    if (isFunction(value))
      value = value.call(this.view);

    return value;
  };
</script>

<!-- Optional JavaScript; keep it at last-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
<!-- <script src="js\bootstrap.min.js"></script>-->


{{>footer}}