{{>header}}
{{>navbar}}
<div class="col-6">
  <div class="mx-auto  mt-5">
    <div class="container rounded border p-4">
      <h1 class="text-white text-center" style="font-family: Impact;">{{description.name}} </h1>
      <div class="row">
        <div class="col-4">
          <figure class="figure">
            <img src="{{game.cover}}" class="figure-img img-fluid rounded border" alt="a">
          </figure>
        </div>
        <div class="col">
          <h4 class="text-white" style="font-family: Impact;">Title: {{description.name}} </h4>
          <p></p>
          <h4 class="text-white" style="font-family: Impact;">Release date: {{description.publishedOn}} </h4>
          <p></p>
          <h4 class="text-white" style="font-family: Impact;">Genre: {{description.genre}}</h4>
          <p></p>
          <h4 class="text-white" style="font-family: Impact;">Players: {{description.numPlayers}}</h4>
          <p></p>
          <h4 class="text-white" style="font-family: Impact;">Platforms: {{description.platform}}</h4>
          <p></p>
          <h4 class="text-white" style="font-family: Impact;">Developer: {{description.developer}}</h4>
          <p></p>
          <h4 class="text-white" style="font-family: Impact;">Publisher: {{description.publisher}}</h4>
          <p></p>
          {{#user}}
          <a href="/list/games/add/game/{{game.id}}">
            <button class="btn btn-secondary btn-block" type="button">Follow</button>
          </a>
          <button class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#collapseAddList">Add to
            List</button>
          <div class="collapse" id="collapseAddList">
            <ul>
              {{#customlist}}
              <li class="mt-2">
                <a href="/list/add/game/{{id}}/{{game.id}}">
                  <button class="btn btn-secondary btn-block" type="button">{{name}}</button>
                </a>
              </li>
              {{/customlist}}
            </ul>
          </div>
          {{/user}}
        </div>
        <h4 class="text-white" style="font-family: Impact;">Description: {{description.synopsis}}</h4>
      </div>
    </div>
  </div>
  <div class="container rounded border p-4 mt-3">
    <div class="row">
      <table class="table table-dark table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Topic</th>
            <th scope="col">User</th>
            <th scope="col">Created On</th>
            <th scope="col">Last reply On</th>
            <th scope="col">Replies</th>
            <th scope="col">Likes</th>
            <th scope="col">
              {{#user}}
              <a href="/game/{{game.id}}/newforumentry">
                <button class="btn btn-secondary" type="button">New</button>
              </a>
              {{/user}}
              {{^user}}
              -
              {{/user}}
            </th>
          </tr>
        </thead>
        <tbody>
          {{#posts}}
          <tr onclick="window.location='/game/{{game.id}}/{{id}}';">
            <th scope="row">{{title}}</th>
            <td>{{author.name}}</td>
            <td>{{createdOn}} </td>
            <td>{{lastUpdatedOn}}</td>
            <td>{{replies}}</td>
            <td>{{votes}}</td>
            <td></td>
          </tr>
          {{/posts}}
        </tbody>
      </table>
    </div>
  </div>
</div>

{{>latestposts}}
</div>

<!-- Optional JavaScript; keep it at last-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
<!-- <script src="js\bootstrap.min.js"></script>-->


{{>footer}}