{{>header}}
{{>navbar}}
<div class="col-6">
    <div class="mx-auto text-center mt-5" >
      <h1 class="text-white" style="font-family: Impact;">New & Popular Games</h1>
      <div class="container">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
          {{#games}}
          <div class="col">
            <a href="/game/{{game.id}}">
              <figure class="figure">
                <img src="{{game.cover}}" class="figure-img img-fluid rounded border" alt="{{game.name}}">
                <figcaption class="figure-caption text-md-center">{{game.name}}</figcaption>
              </figure>
            </a>
          </div>
          {{/games}}
          <div class="col">
            <a href="/game">
              <figure class="figure">
                <img src="https://eplakaty.pl/img/towary/1/2017_04/pp34131-the-legend-of-zelda-breath-of-the-wild-plakat-z-gry-jpg.jpg" class="figure-img img-fluid rounded border" alt="tyty">
                <figcaption class="figure-caption text-md-center">Breath of the Wild</figcaption>
              </figure>
            </a>
          </div>
          <div class="col">
            <a href="/game">
              <figure class="figure">
                <img src="https://eplakaty.pl/img/towary/1/2017_04/pp34131-the-legend-of-zelda-breath-of-the-wild-plakat-z-gry-jpg.jpg" class="figure-img img-fluid rounded border" alt="tyty">
                <figcaption class="figure-caption text-md-center">Breath of the Wild</figcaption>
              </figure>
            </a>
          </div>
          <div class="col">
            <a href="/game">
              <figure class="figure">
                <img src="https://eplakaty.pl/img/towary/1/2017_04/pp34131-the-legend-of-zelda-breath-of-the-wild-plakat-z-gry-jpg.jpg" class="figure-img img-fluid rounded border" alt="tyty">
                <figcaption class="figure-caption text-md-center">Breath of the Wild</figcaption>
              </figure>
            </a>
          </div>
          <div class="col">
            <a href="/game">
              <figure class="figure">
                <img src="https://eplakaty.pl/img/towary/1/2017_04/pp34131-the-legend-of-zelda-breath-of-the-wild-plakat-z-gry-jpg.jpg" class="figure-img img-fluid rounded border" alt="tyty">
                <figcaption class="figure-caption text-md-center">Breath of the Wild</figcaption>
              </figure>
            </a>
          </div>
          <div class="col">
            <a href="/game">
              <figure class="figure">
                <img src="https://eplakaty.pl/img/towary/1/2017_04/pp34131-the-legend-of-zelda-breath-of-the-wild-plakat-z-gry-jpg.jpg" class="figure-img img-fluid rounded border" alt="tyty">
                <figcaption class="figure-caption text-md-center">Breath of the Wild</figcaption>
              </figure>
            </a>
          </div>
          <div class="col">
            <a href="/game">
              <figure class="figure">
                <img src="https://eplakaty.pl/img/towary/1/2017_04/pp34131-the-legend-of-zelda-breath-of-the-wild-plakat-z-gry-jpg.jpg" class="figure-img img-fluid rounded border" alt="tyty">
                <figcaption class="figure-caption text-md-center">Breath of the Wild</figcaption>
              </figure>
            </a>
          </div>
          <div class="col">
            <a href="/game">
              <figure class="figure">
                <img src="https://eplakaty.pl/img/towary/1/2017_04/pp34131-the-legend-of-zelda-breath-of-the-wild-plakat-z-gry-jpg.jpg" class="figure-img img-fluid rounded border" alt="tyty">
                <figcaption class="figure-caption text-md-center">Breath of the Wild</figcaption>
              </figure>
            </a>
          </div>
          <div class="col">
            <a href="/game">
              <figure class="figure">
                <img src="https://eplakaty.pl/img/towary/1/2017_04/pp34131-the-legend-of-zelda-breath-of-the-wild-plakat-z-gry-jpg.jpg" class="figure-img img-fluid rounded border" alt="tyty">
                <figcaption class="figure-caption text-md-center">Breath of the Wild</figcaption>
              </figure>
            </a>
          </div>
          <div class="col">
            <a href="/game">
              <figure class="figure">
                <img src="https://eplakaty.pl/img/towary/1/2017_04/pp34131-the-legend-of-zelda-breath-of-the-wild-plakat-z-gry-jpg.jpg" class="figure-img img-fluid rounded border" alt="tyty">
                <figcaption class="figure-caption text-md-center">Breath of the Wild</figcaption>
              </figure>
            </a>
          </div>
          <div class="col">
            <a href="/game">
              <figure class="figure">
                <img src="https://eplakaty.pl/img/towary/1/2017_04/pp34131-the-legend-of-zelda-breath-of-the-wild-plakat-z-gry-jpg.jpg" class="figure-img img-fluid rounded border" alt="tyty">
                <figcaption class="figure-caption text-md-center">Breath of the Wild</figcaption>
              </figure>
            </a>
          </div>
          <div class="col">
            <a href="/game">
              <figure class="figure">
                <img src="https://eplakaty.pl/img/towary/1/2017_04/pp34131-the-legend-of-zelda-breath-of-the-wild-plakat-z-gry-jpg.jpg" class="figure-img img-fluid rounded border" alt="tyty">
                <figcaption class="figure-caption text-md-center">Breath of the Wild</figcaption>
              </figure>
            </a>
          </div>
          <div class="col">
            <a href="/game">
              <figure class="figure">
                <img src="https://eplakaty.pl/img/towary/1/2017_04/pp34131-the-legend-of-zelda-breath-of-the-wild-plakat-z-gry-jpg.jpg" class="figure-img img-fluid rounded border" alt="tyty">
                <figcaption class="figure-caption text-md-center">Breath of the Wild</figcaption>
              </figure>
            </a>
          </div>
          <div class="col">
            <a href="/game">
              <figure class="figure">
                <img src="https://eplakaty.pl/img/towary/1/2017_04/pp34131-the-legend-of-zelda-breath-of-the-wild-plakat-z-gry-jpg.jpg" class="figure-img img-fluid rounded border" alt="tyty">
                <figcaption class="figure-caption text-md-center">Breath of the Wild</figcaption>
              </figure>
            </a>
          </div>
          <div class="col">
            <a href="/game">
              <figure class="figure">
                <img src="https://eplakaty.pl/img/towary/1/2017_04/pp34131-the-legend-of-zelda-breath-of-the-wild-plakat-z-gry-jpg.jpg" class="figure-img img-fluid rounded border" alt="tyty">
                <figcaption class="figure-caption text-md-center">Breath of the Wild</figcaption>
              </figure>
            </a>
          </div>
          <div class="col">
            <a href="/game">
              <figure class="figure">
                <img src="https://eplakaty.pl/img/towary/1/2017_04/pp34131-the-legend-of-zelda-breath-of-the-wild-plakat-z-gry-jpg.jpg" class="figure-img img-fluid rounded border" alt="tyty">
                <figcaption class="figure-caption text-md-center">Breath of the Wild</figcaption>
              </figure>
            </a>
          </div>
          <div class="col">
            <a href="/game">
              <figure class="figure">
                <img src="https://eplakaty.pl/img/towary/1/2017_04/pp34131-the-legend-of-zelda-breath-of-the-wild-plakat-z-gry-jpg.jpg" class="figure-img img-fluid rounded border" alt="tyty">
                <figcaption class="figure-caption text-md-center">Breath of the Wild</figcaption>
              </figure>
            </a>
          </div>
          <div class="col">
            <a href="/game">
              <figure class="figure">
                <img src="https://eplakaty.pl/img/towary/1/2017_04/pp34131-the-legend-of-zelda-breath-of-the-wild-plakat-z-gry-jpg.jpg" class="figure-img img-fluid rounded border" alt="tyty">
                <figcaption class="figure-caption text-md-center">Breath of the Wild</figcaption>
              </figure>
            </a>
          </div>
          <div class="col">
            <a href="/game">
              <figure class="figure">
                <img src="https://eplakaty.pl/img/towary/1/2017_04/pp34131-the-legend-of-zelda-breath-of-the-wild-plakat-z-gry-jpg.jpg" class="figure-img img-fluid rounded border" alt="tyty">
                <figcaption class="figure-caption text-md-center">Breath of the Wild</figcaption>
              </figure>
            </a>
          </div>
          <div class="col">
            <a href="/game">
              <figure class="figure">
                <img src="https://eplakaty.pl/img/towary/1/2017_04/pp34131-the-legend-of-zelda-breath-of-the-wild-plakat-z-gry-jpg.jpg" class="figure-img img-fluid rounded border" alt="tyty">
                <figcaption class="figure-caption text-md-center">Breath of the Wild</figcaption>
              </figure>
            </a>
          </div>
          <div class="col">
            <a href="/game">
              <figure class="figure">
                <img src="https://eplakaty.pl/img/towary/1/2017_04/pp34131-the-legend-of-zelda-breath-of-the-wild-plakat-z-gry-jpg.jpg" class="figure-img img-fluid rounded border" alt="tyty">
                <figcaption class="figure-caption text-md-center">Breath of the Wild</figcaption>
              </figure>
            </a>
          </div>
          <div class="col">
            <a href="/game">
              <figure class="figure">
                <img src="https://eplakaty.pl/img/towary/1/2017_04/pp34131-the-legend-of-zelda-breath-of-the-wild-plakat-z-gry-jpg.jpg" class="figure-img img-fluid rounded border" alt="tyty">
                <figcaption class="figure-caption text-md-center">Breath of the Wild</figcaption>
              </figure>
            </a>
          </div>

          <div class="col">
            <a href="/game">
              <figure class="figure">
                <img src="https://eplakaty.pl/img/towary/1/2017_04/pp34131-the-legend-of-zelda-breath-of-the-wild-plakat-z-gry-jpg.jpg" class="figure-img img-fluid rounded border" alt="tyty">
                <figcaption class="figure-caption text-md-center">Breath of the Wild</figcaption>
              </figure>
            </a>
          </div>
          <div class="col">
            <a href="/game">
              <figure class="figure">
                <img src="https://eplakaty.pl/img/towary/1/2017_04/pp34131-the-legend-of-zelda-breath-of-the-wild-plakat-z-gry-jpg.jpg" class="figure-img img-fluid rounded border" alt="tyty">
                <figcaption class="figure-caption text-md-center">Breath of the Wild</figcaption>
              </figure>
            </a>
          </div>
          <div class="col">
            <a href="/game">
              <figure class="figure">
                <img src="https://eplakaty.pl/img/towary/1/2017_04/pp34131-the-legend-of-zelda-breath-of-the-wild-plakat-z-gry-jpg.jpg" class="figure-img img-fluid rounded border" alt="tyty">
                <figcaption class="figure-caption text-md-center">Breath of the Wild</figcaption>
              </figure>
            </a>
          </div>
          <div class="col">
            <a href="/game">
              <figure class="figure">
                <img src="https://eplakaty.pl/img/towary/1/2017_04/pp34131-the-legend-of-zelda-breath-of-the-wild-plakat-z-gry-jpg.jpg" class="figure-img img-fluid rounded border" alt="tyty">
                <figcaption class="figure-caption text-md-center">Breath of the Wild</figcaption>
              </figure>
            </a>
          </div>
          <div class="col">
            <a href="/game">
              <figure class="figure">
                <img src="https://eplakaty.pl/img/towary/1/2017_04/pp34131-the-legend-of-zelda-breath-of-the-wild-plakat-z-gry-jpg.jpg" class="figure-img img-fluid rounded border" alt="tyty">
                <figcaption class="figure-caption text-md-center">Breath of the Wild</figcaption>
              </figure>
            </a>
          </div>
          <div class="col">
            <a href="/game">
              <figure class="figure">
                <img src="https://eplakaty.pl/img/towary/1/2017_04/pp34131-the-legend-of-zelda-breath-of-the-wild-plakat-z-gry-jpg.jpg" class="figure-img img-fluid rounded border" alt="tyty">
                <figcaption class="figure-caption text-md-center">Breath of the Wild</figcaption>
              </figure>
            </a>
          </div><div class="col">
            <a href="/game">
              <figure class="figure">
                <img src="https://eplakaty.pl/img/towary/1/2017_04/pp34131-the-legend-of-zelda-breath-of-the-wild-plakat-z-gry-jpg.jpg" class="figure-img img-fluid rounded border" alt="tyty">
                <figcaption class="figure-caption text-md-center">Breath of the Wild</figcaption>
              </figure>
            </a>
          </div>
          <div class="col">
            <a href="/game">
              <figure class="figure">
                <img src="https://eplakaty.pl/img/towary/1/2017_04/pp34131-the-legend-of-zelda-breath-of-the-wild-plakat-z-gry-jpg.jpg" class="figure-img img-fluid rounded border" alt="tyty">
                <figcaption class="figure-caption text-md-center">Breath of the Wild</figcaption>
              </figure>
            </a>
          </div>
          <div class="col">
            <a href="/game">
              <figure class="figure">
                <img src="https://eplakaty.pl/img/towary/1/2017_04/pp34131-the-legend-of-zelda-breath-of-the-wild-plakat-z-gry-jpg.jpg" class="figure-img img-fluid rounded border" alt="tyty">
                <figcaption class="figure-caption text-md-center">Breath of the Wild</figcaption>
              </figure>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col position-sticky border rounded m-5">
    <div class="mx-auto text-center mt-5">
      <h1 class="text-white-50">Latest Posts</h1>
      <ul>
        {{#latestposts}}
        <li>
          <a class="text-white text-left" href="/{{forumentry.game}}/{{forumentry.id}}">{{forumentry.title}}</a>
        </li>
        {{/latestposts}}
      </ul>
    </div>
  </div>
</div>
</div>


    <!-- Optional JavaScript; keep it at last-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="js\bootstrap.min.js"></script>-->


{{>footer}}