{{>header}}
{{>navbar}}
<div class="col-6">
  <div class="mx-auto text-center mt-5">
    <h1 class="text-white" style="font-family: Impact;">{{customlist.name}}</h1>
    <div class="container">
      <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        {{#games}}
        <div class="col">
          <a href="/game/{{id}}">
            <figure class="figure">
              <img src="{{cover}}" class="figure-img img-fluid rounded border" alt="{{description.name}}">
              <figcaption class="figure-caption text-md-center">{{description.name}}</figcaption>
            </figure>
          </a>
        </div>
        {{/games}}
        
      </div>
    </div>
    {{#posts}}
    <div class="container rounded border p-4 mt-3">
      <div class="row">
        <table class="table table-dark table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Topic</th>
              <th scope="col">User</th>
              <th scope="col">Created On</th>
              <th scope="col">Last reply On</th>
              <th scope="col">Replies</th>
              <th scope="col">Likes</th>
            </tr>
          </thead>
          <tbody>
            
            <tr onclick="window.location='/game/{{game.id}}/{{id}}';">
              <th scope="row">{{title}}</th>
              <td>{{author.name}}</td>
              <td>{{createdOn}} </td>
              <td>{{lastUpdatedOn}}</td>
              <td>{{replies}}</td>
              <td>{{votes}}</td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
    {{/posts}}
    {{#comments}}
    <div class="container rounded border p-4 mt-3">
      <div class="row">
        <table class="table table-dark table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">User</th>
              <th scope="col">Posted On</th>
            </tr>
          </thead>
          <tbody>
            
            <tr onclick="window.location='/game/{{forumEntry.game.id}}/{{forumEntry.id}}';">
              <td>{{author.name}}</td>
              <td>{{postedOn}} </td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
    {{/comments}}
  </div>
</div>
{{>latestposts}}
</div>


<!-- Optional JavaScript; keep it at last-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
<!-- <script src="js\bootstrap.min.js"></script>-->


{{>footer}}