<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-md-3 bg-dark text-wrap word-break" style="position: fixed;">
      <ul>
        <li class="mt-3">
          <a class="text-white" href="/" style="font-family:Impact; font-size: 200%;">Home</a>
        </li>
        <li class="mt-3">
          <a class="text-white" href="/notifcations" style="font-family:Impact; font-size: 200%;">Notifications</a>
        </li>
        <li class="mt-3">
          <a class="text-white" href="/game/newgame" style="font-family:Impact; font-size: 200%;">Upload Game</a>
        </li>
      </ul>
      <p></p><hr/><p></p>
      <ul>
        <li class="mt-3">
          <p class="text-white-50" style="font-family:Impact; font-size: 200%;">My lists</p>
        </li>
        <li class="mt-3">
          <button class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#collapseList">Create List</button>
                    <div class="collapse" id="collapseList">
                        <div class="input-group">
                            <form class="form-text" method="POST" action="/list/newlist">
                                <textarea class="form-control" aria-label="Title: " name="nameText"></textarea>
                                <button class="btn btn-secondary" type="submit">Create</button>
                            </form>
                        </div>
                    </div>    
        </li>
        {{#list}}
        <li class="mt-3">
          <a class="text-white" href="/list/{{user.id}}/{{id}}" style="font-family:Impact; font-size: 150%;">{{name}}</a>
        </li>
        {{/list}}
      </ul>
    </div>
    <div class="col-lg-2 col-md-3 bg-dark text-wrap word-break" ></div>

