<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>GamePost</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="text-center" style="background-color: #181818; margin-left: 30%; margin-right: 30%; margin-top: 10%;margin-bottom: 10%;">
  <form class="form-signin" method="POST" action="signIn">
    <a href="/">
      <h1 class="h3 mb-3 font-weight-normal text-white" style="font-family:Impact; font-size: 300%;">GamePost</h1>
    </a>
    <p></p>
    <h1 class="h3 mb-3 font-weight-normal text-white">Please sign in</h1>
    <p></p>
    <label for="name" class="sr-only text-white">Username</label>
    <p></p>
    <input name="username" type="text" id="name" class="form-control text-center" placeholder="Username" required autofocus>
    <p></p>
    <label for="inputPassword" class="sr-only text-white">Password</label>
    <p></p>
    <input name="password" type="password" id="inputPassword" class="form-control text-center" placeholder="Password" required>
    <p></p>
    <div class="checkbox mb-3 text-white">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <p></p>
    <button class="btn btn-lg btn-secondary btn-block" type="submit">Sign in</button>
    <a href="/login">
      <button class="btn btn-lg btn-secondary btn-block" type="button">I already have an account</button>
    </a>
  </form>
</body>

</html>