{{>header}}
{{>navbar}}
<div class="col-6">
  <div class="mx-auto mt-4 mb-5">
    <h1 class="text-white text-center" style="font-family: Impact;">Upload Game</h1>
    <div class="container">
      <form class="form-text mt-4" method="POST" action="/game/submitgame">
        <div class="row">
          <div class="mt-2">
            <h4 class="text-white" style="font-family: Impact;">Title</h4>
            <input class="form-control" aria-label="Title" name="titleText" placeholder="Title" required autofocus>
          </div>
          <div class="mt-2">
            <h4 class="text-white" style="font-family: Impact;">Cover</h4>
            <div class="input-group">
              <label class="input-group-text" for="inputGroupFile01">Upload Cover</label>
              <input type="file" class="form-control" id="inputGroupFile01" required>
            </div>
          </div>
          <!-- Genre -->
          <div class="mt-2">
            <h4 class="text-white" style="font-family: Impact;">Genres</h4>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="genreAction" value="genreAction">
              <label class="form-check-label" for="inlineCheckbox1">Action</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="genreAdventure" value="genreAdventure">
              <label class="form-check-label" for="inlineCheckbox1">Adventure</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="genreFighting" value="genreFighting">
              <label class="form-check-label" for="inlineCheckbox1">Fighting</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="genreRolePlaying" value="genreRolePlaying">
              <label class="form-check-label" for="inlineCheckbox1">Role Playing</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="genreRacing" value="genreRacing">
              <label class="form-check-label" for="inlineCheckbox1">Racing</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="genreSimulation" value="genreSimulation">
              <label class="form-check-label" for="inlineCheckbox1">Simulation</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="genreSports" value="genreSports">
              <label class="form-check-label" for="inlineCheckbox1">Sports</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="genreStrategy" value="genreStrategy">
              <label class="form-check-label" for="inlineCheckbox1">Strategy</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="genreVisualNovel" value="genreVisualNovel">
              <label class="form-check-label" for="inlineCheckbox1">Visual Novel</label>
            </div>
          </div>
          <!-- FIN Genre -->
          <div class="mt-2">
            <h4 class="text-white" style="font-family: Impact;">Players</h4>
            <input class="form-control" name="playersText" placeholder="Number of players" required autofocus>
          </div>
          <div class="mt-2">
            <h4 class="text-white" style="font-family: Impact;">Developer</h4>
            <input class="form-control" name="developerText" placeholder="Developer" required autofocus>
          </div>
          <div class="mt-2">
            <h4 class="text-white" style="font-family: Impact;">Release Date</h4>
            <input class="form-control" name="publisherText" placeholder="dd/MM/yyyy" required autofocus>
          </div>
          <div class="mt-2">
            <h4 class="text-white" style="font-family: Impact;">Publisher</h4>
            <input class="form-control" name="publisherText" placeholder="Publisher" required autofocus>
          </div>
          <!-- Platform -->
          <div class="mt-2">
            <h4 class="text-white" style="font-family: Impact;">Platforms</h4>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="platformWindows" value="platformWindows">
              <label class="form-check-label" for="inlineCheckbox1">Windows</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="platformMac" value="platformMac">
              <label class="form-check-label" for="inlineCheckbox1">Mac</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="platformLinux" value="platformLinux">
              <label class="form-check-label" for="inlineCheckbox1">Linux</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="platformPS5" value="platformPS5">
              <label class="form-check-label" for="inlineCheckbox1">PlayStation 5</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="platformPS4" value="platformPS4">
              <label class="form-check-label" for="inlineCheckbox1">PlayStation 4</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="platformSwitch" value="platformSwitch">
              <label class="form-check-label" for="inlineCheckbox1">Nintendo Switch</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="platformXboxSeriesXS" value="platformXboxSeriesXS">
              <label class="form-check-label" for="inlineCheckbox1">Xbox Series X/S</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="platformAndroid" value="platformAndroid">
              <label class="form-check-label" for="inlineCheckbox1">Android</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="platformIOS" value="platformIOS">
              <label class="form-check-label" for="inlineCheckbox1">IOS</label>
            </div>

          </div>
          <!-- FIN Platform -->
          <div class="mt-2">
            <h4 class="text-white" style="font-family: Impact;">Description</h4>
            <textarea class="form-control" aria-label="Body" placeholder="Description" name="descriptionText" required
              autofocus></textarea>
          </div>
          <button class="btn btn-secondary mt-3" type="submit">Upload</button>
        </div>
      </form>

    </div>
  </div>
</div>
{{>latestposts}}
</div>


<!-- Optional JavaScript; keep it at last-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
<!-- <script src="js\bootstrap.min.js"></script>-->


{{>footer}}