@charset "UTF-8";

.bg-black{background-color: black;}
.bg-standard{background-color: #181818;}
.outline-white{ outline: 2px solid #FFFFFF;}
.box-standard{background-color: #181818; outline: 2px solid #FFFFFF;  }